@import url('./base.css');

.container{
  padding: 0 90px;
  width: 100%;
  max-width: 1380px;
  margin: 0 auto;
}

.sec-title{
  font-size: 56px;
  font-weight: 600;
}

.sec-title_dot::after{
  content: ".";
  color: var(--accent-color);
}


@keyframes GrBanana{
  0%{
    transform: scale(1);
    opacity: 1;
  }
  55%{
    transform: scale(0.75);
    opacity: 0.75;
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes GrBanana_glow{
  0%{
    transform: scale(0.6);
    opacity: 0.4;
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}

@media screen and (max-width: 768px){
  .container{
    padding: 0 45px;
  }
}

@media screen and (max-width: 675px){
  .sec-title{
    font-size: 45px;
  }
  /* .page-sections, .page-wrapp{
    gap: 120px;
  } */
}

@media screen and (max-width: 550px){
  .container{
    padding: 0 30px;
  }
  .sec-title{
    font-size: 38px;
  }
}

@media screen and (max-width: 425px){
  .container{
    padding: 0 15px;
  }
  .page-sections{
    gap: 120px;
  }
}